{% load staticfiles %}
<html>
	<head>
		<title>Movie Rater</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/movie_rater.css" %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="page_header">
		    <h1 id="header_title"><a href="/">Movie Rater</a></h1>
		    <a href="{% url "movie_rater.views.new_movie" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		</div>

		<div class="content container">
		    <div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
				<div class="col-md-4">
		    			<div class="user_info">
		    				<p>User: {{user.username}}</p>
		    				<p>Name: {{user.first_name}}</p>
		    				<p>Email: {{user.email}}</p>
		    			</div>
		    		</div>
		    </div>
		</div>
	</body>
</html>
